version: "3"
services:
  elasticsearch:
    image: "docker.elastic.co/elasticsearch/elasticsearch:7.17.2"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - http.cors.enabled=true
      - http.cors.allow-origin=https://app.elasticvue.com, http://cerebro:9000
    ports:
      - 9200:9200
  cerebro:
    image: lmenezes/cerebro
    ports:
      - 9000:9000
    command:
      - -Dhosts.0.host=http://elasticsearch:9200
  springbootapp:
    build: .
    ports:
      - 8080:8080
      - 8000:8000
    depends_on:
      - elasticsearch